*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sec0{
    width: 100%;

}
header{
    height:80px ;
    background-color: #eeeeee;
    z-index: 100;
    position: relative;
    bottom: 80px;

}
header img , nav img{
    width: 50px;
    height: 50px;
}

header #header .modal .modal-dialog .modal-content .modal-body ul li a:hover{
    color: rgb(233, 169, 8);

}
/****************************************************** nav *****************************/
nav{
    height:80px ;
    background-color: #eeeeee;
    z-index: 5;
  
}

nav span{
    background-color: #ff0066;
    border-radius: 50px;
}
#sec0 p{
    padding: 100px 0px;
}

nav.stickey{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
   
    
}
header #header .modal .modal-dialog .modal-content .modal-body ul li a{
    color: rgb(233, 169, 8);
    margin: 15px 0px;

}
main{
    position: relative;
    bottom: 70px;
}
/***************************************************** header **************************************************/
/***************************************************** header-exit **************************************************/

/***************************************************** nav **************************************************/
/***************************************************** nav-exit **************************************************/

/***************************************************** sec1 **************************************************/
#sec1{
    width: 100%;
    background-image: url('banner-contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/***************************************************** sec1-exit **************************************************/

/***************************************************** sec2 **************************************************/
form{
    padding-top: 100px;
}
#pays{
    border: 2px solid #dddddd;
    border-radius: 5px;
}
textarea{
    height: 150px;
}
.card{
    width: 1;
}
/***************************************************** sec2-exit **************************************************/

/***************************************************** sec3 **************************************************/
#sec3{
    width: 100%;
    height: 500px;
    background-image: url('globe-599486_640\ \(1\).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/***************************************************** sec3-exit **************************************************/

/***************************************************** footer **************************************************/
/******************************** footer-section ********************************************/
footer{
    /* width: 100%; */
    background-color: #336699;
    color: #dddddd;
    font-size: 15px;
    font-family: sans-serif;
}

@media (min-width:569px){
    .decor{
        border-left: 1px solid gray;
    }
}

footer img{
    width: 100px;
    height: 100px;
}
@media (max-width:568px){
    .row{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .decor{
        border-bottom: 2px solid gray;
    }
}
/***************************************************** footer-exit **************************************************/
